page-login {
ion-list{
    border: 2px solid white;
}
ion-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.forgot{
    display:inline-block;
    padding-left:10px;
    left: 13px;
    
}
}
